* {
  background-color: #0c0c0c;
  color: white;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "VT323";
}
.title {
  font-family: "Press Start 2P";
  text-align: center;
  font-size: 45px;
  color: #e3e841;
}
.score {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.playerScore,
.computerScore,
.playerPoint,
.compPoint {
  font-size: 30px;
  font-family: "raleway dots";
}
.playerPoint,
.playerScore {
  color: rgb(83, 238, 83);
}
.compPoint,
.computerScore {
  color: rgb(255, 0, 0);
}

.choice {
  font-size: 30px;
  font-family: "Press Start 2P";
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #3c3026;
  color: rgb(254, 235, 158);
}
::placeholder {
  opacity: 0.2;
}

.playBtn {
  font-size: 30px;
  font-family: "VT323";
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  width: 130px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  background-color: #ab5b1a;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.playBtn:hover {
  cursor: pointer;
  background-color: #ff8000;
  color: white;
}

.playerResult,
.computerResult {
  text-align: center;
  font-size: 20px;
  font-family: "raleway dots";
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 40px;
}

.finalResult {
  text-align: center;
  margin-top: 60px;
  font-size: 40px;
  font-family: "Press Start 2P";
  color: #6b216a;
}

/*big ass screen*/
@media (max-width: 2720px) {
}

/*desktop*/
@media (max-width: 1600px) {
}

/*laptop*/
@media (max-width: 1024px) {
}

/*tablet*/
@media (max-width: 780px) {
}

/*phone*/
@media (max-width: 450px) {
  .body {
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin: 3px 2px;
  }
  .title {
    font-size: 14px;
  }
  .choice {
    font-size: 10px;
  }
  .playBtn {
    font-size: 13px;
    padding: 5px;
    width: 80px;
  }
  .playerResult,
  .computerResult {
    font-size: 10px;
    text-align: center;
  }
  .finalResult {
    font-size: 30px;
  }
  .playerScore,
  .computerScore,
  .playerPoint,
  .compPoint {
    font-size: 20px;
  }
  .score {
    font-size: 40px;
  }
}
